@include font('roboto', './fonts/Roboto-Thin.ttf');
@include font('clash', './fonts/ClashDisplay-Medium.ttf');
@include font('elsie', './fonts/Elsie-Regular.ttf');

.current-user {
    height: 100%;

    header {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;

        .content {
            width: 100%;
            height: 370px;
            background: linear-gradient(to bottom, #00f26100, $wish-blue);
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 20px;
            padding: 30px 0 30px 0;
            position: relative;
        }

        .title {
            text-align: center;
            font-family: 'elsie';
            color: $wish-grey;
        }

        .settings {
            position: absolute;
            top: 30px;
            right: 30px;
            font-size: 22px;
            color: $wish-grey;

            .setting-icon {
                cursor: pointer;
            }
        }

        .images {
            @include content-image(150px, 150px, $wish-blue)
        }

        .name {
            color: $wish-grey;
            font-family: 'roboto';
        }

        .location {
            font-family: 'roboto';
            color: $wish-grey;
            display: flex;
            align-items: center;
            gap: 10px;

            .request-friend {
                width: 40px;
                height: 40px;
                border-radius: 50%;
                background: grey;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 25px;
                position: relative;
                cursor: pointer;

                .request-friends-count {
                    width: 30px;
                    height: 30px;
                    border-radius: 50%;
                    position: absolute;
                    right: -15px;
                    bottom: -15px;
                    background: grey;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    .req-count-cont {
                        width: 20px;
                        height: 20px;
                        display: block;
                        border-radius: 50%;
                        background: $wish-grey;
                        color: $wish-blue;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        font-size: 18px;
                    }
                }

                .notificate-content {
                    position: absolute;
                    top: 100%;
                    right: 0;
                    border-radius: 10px;
                    min-width: 300px;
                    min-height: 50px;
                    padding: 20px;
                    background: $wish-blue;
                    border: 1px solid $wish-grey;
                    display: flex;
                    flex-direction: column;
                    gap: 10px;
                    justify-content: center;
                    align-items: center;
                    cursor: auto;

                    .request-title {
                        font-family: 'elsie';
                        border-bottom: 1px solid #fff;
                    }

                    .req-btns {
                        width: 50px;
                        background: $wish-grey;
                        border-top-right-radius: 10px;
                        border-bottom-right-radius: 10px;
                        top: 0;
                        right: -50px;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        padding: 0 2px;
                        gap: 3px;

                        button {
                            border: none;
                            border-radius: 10px;
                            background: $wish-blue;
                            cursor: pointer;
                            color: $wish-grey;
                            transition: .5s;
                            border: 1px solid $wish-blue;
                        }

                        button:hover {
                            background: $wish-grey;
                            color: $wish-blue;
                            border: 1px solid $wish-blue;
                        }
                    }

                    .req-user-content {
                        width: 300px;
                        height: 80px;
                        border: 1px solid gray;
                        border-radius: 10px;
                        display: flex;
                        align-items: center;
                        background: $wish-grey;
                        padding-left: 5px;
                        margin: 10px 0;

                        .user-info {
                            display: flex;
                        }

                        .req-cont-image {
                            cursor: pointer;
                            @include content-image(70px, 70px, $wish-blue)
                        }

                        .user-info {
                            margin-left: 5px;
                            color: #000;
                        }
                    }
                }
            }
        }
    }

    section {
        background: $wish-grey;
        display: grid;
        padding-top: 20px;
        grid-template-columns: repeat(3, 1fr);

        .section-left {
            h2 {
                text-align: center;
            }

            .info {
                margin-top: 30px;
                display: flex;
                align-items: center;
                gap: 5px;
            }
        }

        .section-middle {
            cursor: pointer;
            border-left: 3px solid gray;
            border-right: 3px solid gray;

            h2 {
                text-align: center;
            }

            .current-user-friends {
                display: flex;
                flex-direction: column;
                gap: 10px;
                padding: 20px;

                .friend-content {
                    width: 100%;
                    height: 60px;
                    border: 1px solid grey;
                    border-radius: 10px;
                    display: flex;
                    align-items: center;
                    gap: 5px;

                    .fr-cont-left {

                        .fr-image {
                            @include content-image(60px, 60px, $wish-blue)
                        }
                    }
                }
            }
        }

        .section-right {
            cursor: pointer;

            h2 {
                text-align: center;
            }

            .media {
                display: flex;
                flex-direction: column;
                align-items: center;
                overflow: hidden;
                gap: 10px;
                margin-top: 10px;

                .media-img {
                    @include content-image(70px, 70px, $wish-blue)
                }
            }
        }
    }
}