@include font('roboto', './fonts/Roboto-Thin.ttf');
@include font('clash', './fonts/ClashDisplay-Medium.ttf');
@include font('elsie', './fonts/Elsie-Regular.ttf');

.main {
    min-height: 100vh;
    padding-top: 50px;

    .main-container {
        width: 100%;
        height: 700px;
        display: flex;
        border-radius: 20px;
        overflow: hidden;
        background: $wish-grey;

        .left {
            width: 30%;
            background: $wish-blue;

            .header {
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 40px;
                margin-top: 30px;
                position: relative;

                .user-icon {
                    position: absolute;
                    left: 10px;
                    top: 5px;
                    font-size: 18px;
                    color: $wish-grey;
                    cursor: pointer;
                    display: none;

                    @media(max-width: 950px) {
                        display: block;
                    }
                }

                .title {
                    color: $wish-grey;
                    text-align: center;
                    font-family: 'elsie';
                }

                .search {
                    display: flex;
                    align-items: center;
                    width: 100%;
                }

                .search-icon {
                    font-size: 18px;
                    color: $wish-grey;
                    display: inline-block;
                    transform: translate(30px, 3px);
                }

                .search input {
                    width: 85%;
                    height: 40px;
                    border: none;
                    border-radius: 10px;
                    background: rgba(72, 137, 242, 0.507);
                    padding-left: 40px;
                    font-size: 14px;
                    font-family: 'roboto';
                    color: $wish-grey;
                }

                .search input::-webkit-input-placeholder {
                    color: $wish-grey;
                }

                .search input::-moz-placeholder {
                    color: $wish-grey;
                }

                .search input:-ms-input-placeholder {
                    color: $wish-grey;
                }

                .search input::-ms-input-placeholder {
                    color: $wish-grey;
                }

                .search input::placeholder {
                    color: $wish-grey;
                }
            }

            .navbar {
                width: 100%;
                display: flex;
                justify-content: space-around;

                .icons {
                    font-size: 25px;
                    cursor: pointer;
                    color: $wish-grey;
                }
            }
        }

        .middle {
            width: 50%;
            background: $wish-dark-grey;

            .header {
                box-shadow: 0 5px 10px rgba(182, 182, 182, 0.519);
                display: flex;
                justify-content: center;
                align-items: center;
                height: 70px;
                font-family: 'roboto';
            }

            @media(max-width: 950px) {
                width: 100%;
            }
        }

        .right {
            width: 20%;
            background: $wish-grey;
            box-shadow: -5px 0 10px rgba(182, 182, 182, 0.519);
            display: flex;
            flex-direction: column;
            align-items: center;
            position: relative;

            .main-icon {
                display: block;
                position: absolute;
                right: 20px;
                top: 30px;
                font-size: 18px;
                cursor: pointer;
                display: none;

                @media(max-width: 950px) {
                    display: block;
                }
            }

            .settings {
                width: 100%;
                display: flex;
                justify-content: flex-start;
                margin-top: 30px;
                padding-left: 20px;

                .setting {
                    font-size: 18px;
                    cursor: pointer;
                }
            }

            .user-image {
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 10px;

                h3 {
                    font-family: 'elsie';
                }

                h5 {
                    font-family: 'roboto';
                }
            }

            .image {
                width: 150px;
                height: 150px;
                border-radius: 50%;
                overflow: hidden;
                background: $wish-blue;
                display: flex;
                justify-content: center;
                align-items: center;

                img {
                    width: 140px;
                    height: 140px;
                    border-radius: 50%;
                }
            }

            @media(max-width: 950px) {
                display: none;
            }
        }
    }
}