@include font('roboto', './fonts/Roboto-Thin.ttf');
@include font('clash', './fonts/ClashDisplay-Medium.ttf');
@include font('elsie', './fonts/Elsie-Regular.ttf');

.main {
    padding-top: 50px;

    .container {
        @media(max-width: 950px) {
            max-width: 850px;
        }

        @media(max-width: 850px) {
            max-width: 750px;
        }

        @media(max-width: 750px) {
            max-width: 650px;
        }
    }

    .main-container {
        width: 100%;
        display: flex;
        border-radius: 20px;
        overflow: hidden;
        background: $wish-grey;

        @media(max-width: 750px) {
            flex-direction: column;
        }

        .left {
            width: 30%;
            background: $wish-blue;

            @media(max-width: 750px) {
                width: 100%;
            }

            .header {
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 40px;
                margin-top: 30px;
                position: relative;

                @media(max-width: 750px) {
                    flex-direction: row;
                    gap: 0;
                }

                .title {
                    color: $wish-grey;
                    text-align: center;
                    font-family: 'elsie';
                }

                .search {
                    display: flex;
                    align-items: center;
                    width: 100%;
                }

                .search-icon {
                    font-size: 18px;
                    color: $wish-grey;
                    display: inline-block;
                    transform: translate(30px, 3px);
                }

                .search input {
                    width: 85%;
                    height: 40px;
                    border: none;
                    border-radius: 10px;
                    background: rgba(72, 137, 242, 0.507);
                    padding-left: 40px;
                    font-size: 14px;
                    font-family: 'roboto';
                    color: $wish-grey;
                }

                .search input::-webkit-input-placeholder {
                    color: $wish-grey;
                }

                .search input::-moz-placeholder {
                    color: $wish-grey;
                }

                .search input:-ms-input-placeholder {
                    color: $wish-grey;
                }

                .search input::-ms-input-placeholder {
                    color: $wish-grey;
                }

                .search input::placeholder {
                    color: $wish-grey;
                }
            }

            .left-navbar {
                width: 100%;
            }

            .left-display {
                display: flex;
                flex-direction: column;
                align-items: center;
                margin-top: 20px;

                @media(max-width: 750px) {
                    display: none;
                }
            }
        }

        .middle {
            width: 70%;
            overflow-y: auto;
            margin-bottom: 20px;
            min-height: 750px;

            @media(max-width:750px) {
                width: 100%;
            }

            .header {
                display: flex;
                justify-content: center;
                align-items: center;
                height: 70px;
                font-family: 'roboto';
                background-color: $wish-blue;
            }

        }
    }
}