.media-item {
    width: 100%;
    display: flex;

    .modal-left {
        width: 10%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 35px;
        background: rgba(128, 128, 128, 0.483);
        cursor: pointer;
    }

    .modal-middle {
        width: 80%;
        display: flex;
        justify-content: center;
        align-items: center;

        img {
            width: 70%;
            max-height: 90%;
            border-radius: 20px;
        }
    }

    .modal-right {
        width: 10%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 35px;
        background: rgba(128, 128, 128, 0.483);
        cursor: pointer;
    }
}