.navbar {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;

    .content {
        font-size: 22px;
        color: $wish-grey;
    }

    .click {
        font-size: 22px;
        color: $wish-grey;
        border: 3px solid $wish-grey;
        display: block;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}