@include font('roboto', './fonts/Roboto-Thin.ttf');
@include font('clash', './fonts/ClashDisplay-Medium.ttf');
@include font('elsie', './fonts/Elsie-Regular.ttf');

.search {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 20px;
    gap: 10px;

    .search-content {
        height: 100px;
        border: 1px solid rgb(191, 191, 191);
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 5px;
        padding: 10px;
        cursor: pointer;

        .search-left {

            .search-images {
                @include content-image(70px, 70px, $wish-blue)
            }
        }

        .search-right {
            font-family: 'roboto';
        }
    }
}