@include font('roboto', './fonts/Roboto-Thin.ttf');
@include font('clash', './fonts/ClashDisplay-Medium.ttf');
@include font('elsie', './fonts/Elsie-Regular.ttf');

.online {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 20px;
    gap: 10px;

    .online-users {
        height: 100px;
        align-items: center;
        margin-top: 10px;
        display: flex;
        border: 1px solid rgb(191, 191, 191);
        border-radius: 10px;
        gap: 5px;
        cursor: pointer;
        justify-content: center;

        .user-image {
            @include content-image(70px, 70px, $wish-blue);

            .user-online {
                width: 10px;
                height: 10px;
                border-radius: 50%;
                background: $wish-green;
                position: absolute;
                bottom: 10px;
                right: 0px;
            }

        }

        .online-left {
            display: flex;
            flex-direction: column;
            gap: 5px;
            font-family: 'roboto';
        }
    }
}