@include font('roboto', './fonts/Roboto-Thin.ttf');
@include font('clash', './fonts/ClashDisplay-Medium.ttf');
@include font('elsie', './fonts/Elsie-Regular.ttf');

.click-by-user {
    height: 100%;

    header {
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;

        .click-user-content {
            width: 100%;
            height: 370px;
            background: linear-gradient(to bottom, #00f26100, $wish-blue);
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 20px;
            padding: 30px 0 30px 0;
            position: relative;
        }


        .click-user-images {
            @include content-image(150px, 150px, $wish-blue)
        }

        .click-user-name {
            color: $wish-grey;
            font-family: 'roboto';
        }

        .click-user-location {
            font-family: 'roboto';
            color: $wish-grey;
        }

        .btns {
            display: flex;
            gap: 20px;

            .btn-message,
            .btn-add-friend {
                @include btn(130px, 30px);
                box-shadow: 0 0 10px #fff;
                transition: .4s;
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 5px;
            }

            .btn-message:hover,
            .btn-add-friend:hover {
                background-color: #fff;
                color: $wish-blue;
            }

            button {
                @include btn(130px, 30px);
                box-shadow: 0 0 10px #fff;
                font-size: 16px;
                cursor: auto;

                .del-friend {
                    transform: translateX(10px);
                    display: inline-block;
                    cursor: pointer;
                }
            }
        }
    }

    section {
        background: $wish-grey;
        display: grid;
        padding-top: 20px;
        grid-template-columns: repeat(3, 1fr);

        .click-user-section-left {
            h2 {
                text-align: center;
            }

            .click-user-info {
                margin-top: 30px;
                display: flex;
                align-items: center;
                gap: 5px;
            }
        }

        .click-user-section-middle {
            cursor: pointer;
            border-left: 3px solid gray;
            border-right: 3px solid gray;

            h2 {
                text-align: center;
            }
        }

        .click-user-section-right {
            cursor: pointer;

            h2 {
                text-align: center;
            }

            .click-user-media {
                display: flex;
                flex-direction: column;
                align-items: center;
                overflow: hidden;
                gap: 10px;
                margin-top: 10px;

                .click-user-media-img {
                    @include content-image(70px, 70px, $wish-blue)
                }
            }
        }
    }
}