// ------------- Color ----------
$wish-blue: rgba(68, 121, 251);
$wish-grey: rgba(248, 249, 251);
$wish-white: rgba(255, 255, 255);
$wish-dark-grey: rgba(234, 234, 234);
// ------------------------------